global:
  resolve_timeout: 5m

route:
  group_by: ['alertname', 'switch_name', 'instance', 'ifIndex']
  group_wait: 30s
  group_interval: 1m
  repeat_interval: 12h
  receiver: 'telegram'

receivers:
  - name: 'telegram'
    telegram_configs:
      - bot_token: "{{ telegram_token }}"
        chat_id: {{ telegram_chat_id }}
        send_resolved: true
        parse_mode: 'HTML'
        message: |
          {% raw %}
          <b>Alerts Firing:</b>
          <b>Labels:</b>
           - alertname = {{ .GroupLabels.alertname }}
           - ifIndex = {{ .CommonLabels.ifIndex }}
           - instance = {{ .CommonLabels.instance }}
           - severity = {{ .CommonLabels.severity }}
           - switch_name = {{ .CommonLabels.switch_name }}
           - switch_type = {{ .CommonLabels.switch_type }}
          <b>Annotations:</b>
           - description = {{ .Annotations.description }}
           - summary = {{ .Annotations.summary }}
          {% endraw %}
